<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r2">

  <gazebo>
    <plugin name="left_gazebo_gripper" filename="libr2_gazebo_gripper.so">
      <updateRate>10.0</updateRate> <!--Hz-->
      <gripperAttachLink>${robot_name}left_ankle_roll</gripperAttachLink>
      <gripperLink>${robot_name}left_leg/gripper/jaw_right</gripperLink>
      <gripperLink>${robot_name}left_leg/gripper/jaw_left</gripperLink>
      <maxRelativeMotionRate>0.005</maxRelativeMotionRate> <!--units/second-->
      <attachWait>0.5</attachWait> <!--seconds-->
      <detachWait>0.0</detachWait> <!--seconds-->
    </plugin>
  </gazebo>

  <gazebo>
    <plugin name="right_gazebo_gripper" filename="libr2_gazebo_gripper.so">
      <updateRate>10.0</updateRate> <!--Hz-->
      <gripperAttachLink>${robot_name}right_ankle_roll</gripperAttachLink>
      <gripperLink>${robot_name}right_leg/gripper/jaw_right</gripperLink>
      <gripperLink>${robot_name}right_leg/gripper/jaw_left</gripperLink>
      <maxRelativeMotionRate>0.005</maxRelativeMotionRate> <!--units/second-->
      <attachWait>0.5</attachWait> <!--seconds-->
      <detachWait>0.0</detachWait> <!--seconds-->
    </plugin>
  </gazebo>

</robot>
