<?xml version="1.0"?>
<launch>
  <arg name="joint_states" default="true" />
  <arg name="gui" default="true" />
  <arg name="config"       default="true" />

  <!-- load robot -->
  <param name="robot_description" command="$(find xacro)/xacro.py '$(find r2_gazebo)/xacro/r2c_upperbody.urdf.xacro'" />
  
  <!-- load joint states publisher -->
  <node if="$(arg joint_states)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="$(arg gui)" />
  </node>

  <!-- load robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- load rviz gui -->
  <arg unless="$(arg config)" name="command_args" value="" />
  <arg     if="$(arg config)" name="command_args" value="-d $(find r2_gazebo)/config/r2_gazebo.rviz" />
  <node if="$(arg gui)" name="rviz" pkg="rviz" type="rviz" args="$(arg command_args)"/>
  
</launch>

