<launch>

  <rosparam command="load" file="$(find nasa_robodyn_ros)/launch/default_controller_config.yaml" />
<!--
  <include file="$(find nasa_supervisors_control)/launch/r2_joint_trajectory.launch" ns="r2" >
    <arg name="controller_name" value="l_leg_controller" />
    <arg name="supervisor" value="r2_teleop" />
  </include>

  <include file="$(find nasa_supervisors_control)/launch/r2_joint_trajectory.launch" ns="r2" >
    <arg name="controller_name" value="r_leg_controller" />
    <arg name="supervisor" value="r2_teleop" />
  </include>

  <include file="$(find nasa_supervisors_control)/launch/r2_joint_trajectory.launch" ns="r2" >
    <arg name="controller_name" value="l_foot_controller" />
    <arg name="supervisor" value="r2_teleop" />
  </include>

  <include file="$(find nasa_supervisors_control)/launch/r2_joint_trajectory.launch" ns="r2" >
    <arg name="controller_name" value="r_foot_controller" />
    <arg name="supervisor" value="r2_teleop" />
  </include>

  <include file="$(find nasa_supervisors_control)/launch/r2_joint_trajectory.launch" ns="r2" >
    <arg name="controller_name" value="legs_controller" />
    <arg name="supervisor" value="r2_teleop" />
  </include>
-->
</launch>
